.contactUsData > div {
    opacity: 0;
    visibility: hidden;
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 46px;
    bottom: 0;
    transition: all 1.3s ease 0s;
}
.contactUsData > div.active {
    opacity: 1;
    visibility: visible;
}
.location-data-wrapper {
    padding: 0 10px 15px;
    max-width: 330px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -65%);
    left: 50%;
    top: 50%;
    background: rgba(255,255,255,.6);
    border-radius: 5px;
    width: 100%;
}
.location-data-wrapper h2 {
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
}
.location-info-container{float: left;width: 100%;position: relative;}
.location-left-box{float: left;position: relative;width: 75%;}
.loc-img{float: left;width: 70px;margin-right: 10px;}
.loc-data{font-size: 8px;float: left;}
.loc-data a {
    color: rgb(0,127,142);
    text-decoration: none;
    padding-left: 15px;
    display: block;
}
.loc-data ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.loc-data ul li {
    margin-bottom: 15px;
}
.loc-data ul li:last-child {
    margin-bottom: 0px;
}
.glocation{
}
.mail{
}
.phone{
}
.location-right-box{float: left;width: 25%;position: relative;}
.follow-box{font-size: 8px;margin-top: 61px;}
.follow-links{margin: 5px 0 0 0;padding: 0;list-style: none;display: block;}
.twitter{
}
.linkedin{
}
.youtube{
}
div#nyc {
    background: no-repeat url('../img/usa-map.svg') top center / contain;
}
div#hyd {
    background: no-repeat url('../img/india-map.svg') top center / contain;
}
div#mu {
    background: no-repeat url('../img/mauritius-map.svg') top center / contain;
}
div#singapore {
    background: no-repeat url('../img/singapore.svg') top center / contain;
}
.glocation a {
    background: no-repeat url(../img/map-pin.svg) top left;
    background-size: 12px 12px;
}
.mail a {
    background: no-repeat url(../img/mail.svg) top left;
    line-height: 13px;
}
.phone a {
    background: no-repeat url(../img/Call.svg) top left;
}
.follow-links .twitter{}
.follow-links .linkedin{}
.follow-links .youtube{}
  .follow-links .twitter a{}
  .follow-links .linkedin a{}
  .follow-links .youtube a{}
    .follow-links li a {
        display: block;
        background: white;
        height: 12px;
        width: 12px;
        text-align: center;
        border-radius: 50%;
        padding-top: 2px;
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,.3);
        color: rgb(0,127,142);
    }
.loc-img img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    box-shadow: -1px 2px 8px 0px rgba(0,0,0,.3);
}
.follow-box p {
    padding: 0;
    margin: 0;
}
.follow-links li {
    display: inline-block;
    margin-right: 5px;
}
.show-767{ display: none;}
  .hide-767{ display: block;}

  @@media all and (max-width : 767px) {
    .show-767{ display: block;}
      .hide-767{ display: none;}
  }
