@font-face {
    font-family: "Flaticon";
    src: url("font/Flaticon.eot");
    src: url("font/Flaticon.eot?#iefix") format("embedded-opentype"), url("font/Flaticon.woff") format("woff"), url("font/Flaticon.ttf") format("truetype"), url("font/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-cogwheel:before {
    content: "\f100";
}

.flaticon-facebook-placeholder-for-locate-places-on-maps:before {
    content: "\f101";
}

.flaticon-multiple-users-silhouette:before {
    content: "\f102";
}

.v-h-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -60%);
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: 'Varela Round', sans-serif, Helvetica;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

#office {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

#office > img {
    position: absolute;
    top: 0;
    left: 0;
}

.abs-bg-img {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#city {
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    opacity: 1;
    object-fit: scale-down;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#hall {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    perspective: 200px;
}

#officeroom,
#chair {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#officeroom {
    z-index: 300;
}

#chair {
    z-index: 5000;
    pointer-events: none;
}

#brandingWrapper {
    position: absolute;
    z-index: 650;
    top: 5px;
    left: .3vw;
    height: 40px;
    width: 33.3vw;
}

#blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .7);
    filter: blur(1px);
}

#brandingWrapper > * {
    display: inline-block;
    float: left;
}

#logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#brandingWrapper > #logo img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 8.3vw;
}

#brandingWrapper #companymsg p {
    margin: 0;
    display: inline-block;
}

#companymsg {
    color: #001e20;
    letter-spacing: -0.3px;
    position: absolute;
    z-index: 1;
    font-family: Serif;
    font-weight: normal;
    left: 9.9vw;
    font-size: 12px;
    top: 50%;
    height: 16px;
    width: 23vw;
    transform: translateY(-50%);
}

#logo:after {
    content: ':';
    position: absolute;
    top: 0;
    left: 8.6vw;
    font-size: 16px;
}

.msg {
    position: absolute;
    top: 3px;
    visibility: hidden;
}

.msg .l {
    visibility: hidden;
}

.text-caret {
    font-size: 16px;
    display: block;
    top: 1.5px;
    position: absolute;
    left: 0;
    z-index: 9999;
    display: none;
}

.colon {
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

#intro {
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 150px;
    margin: 300px auto 0;
    position: relative;
    z-index: 400;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
}

#screen {
    width: 800px;
    height: 0;
    z-index: 4000;
    position: absolute;
    top: 20%;
    left: 10%;
}

.branchoffice {
    display: none;
}

#presentation-logo {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(.2);
}

#presentation-logo > svg {
    width: 110px;
    height: 110px;
}

div#projector {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 600;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    opacity: 0;
}

#projector > #frost {
    z-index: 1;
    display: block;
    position: absolute;
    content: ' ';
    background-image: url('../img/nybg.jpg');
    filter: blur(7px);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 1;
}

#city,
#officeroom,
#chair {
    transition: filter 0.5s ease-in 0s;
    transition: -web-filter 0.5s ease-in 0s;
    transition: -moz-filter 0.5s ease-in 0s;
    transition: -ms-filter 0.5s ease-in 0s;
}

.trapezoid {
    //background-image: linear-gradient(90deg, rgba(100, 119, 100, 0.9) 0px, rgba(100, 119, 100, 0.9) 1%, rgba(0, 0, 0, 1) 100%);
    background-image: url(../img/table.png);
    background-size: 100%;
    height: 48.3px;
    left: 43.3vw;
    position: absolute;
    width: 13.34vw;
    z-index: 9930;
    opacity: 0;
}

#presentationMenu {
    display: table;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}

#presentationMenu li {
    //background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: table-cell;
    font-size: 30px;
    padding: 0;
    width: 33.333%;
}

#presentationMenu li i {
    transition: color .5s ease-in;
}

#presentationMenu li a {
    color: #fff;
    text-decoration: none;
    outline: none;
    line-height: 46px;
}

#presentationMenu li a:hover,
#presentationMenu li a.active {
    color: #99c546;
}

#presentationMenu li a img {
    width: 2vw;
    padding-top: 1vh;
    display: block;
    margin: auto;
}

#presentationMenu li a span {
    display: block;
    height: 11px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    -webkit-backface-visibility: hidden;
}

#presentationMenu li a:hover,
#presentationMenu li a:focus {
    outline: none;
}

#presentationMenu li a:hover i,
#presentationMenu li a.active i {
    color: rgb(104, 250, 233);
}

#projector .data-container > div {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -10%;
    color: transparent;
    height: 20px;
    left: 50%;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: opacity 1s ease;
    visibility: hidden;
    width: 20px;
    z-index: -1;
    opacity: 0;
}

#projector .data-container > .active {
    border-radius: 0;
    bottom: 0;
    color: #000;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    padding: 10px;
    opacity: 1;
    //transform: scale(1);
    visibility: visible;
    width: 100%;
    z-index: 1;
}

.PeopleData {
    transform-origin: 50% 50%;
    transform: scale(0.9);
}

body {
    overflow: hidden;
}

#mapmenu {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .3);
}

#maplocations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#maplocations a {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #99c546;
    border-radius: 10px;
    background: rgb(250, 250, 214);
    position: absolute;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

#maplocations a:hover,
#maplocations a.active {
    border: 1px solid rgb(250, 250, 214);
    background: #07939f;
    transform: scale(1.2);
}

#maplocations #india {
    top: 31%;
    left: 63%;
}

#maplocations #ny {
    top: 20%;
    left: 20%;
}

#maplocations #africa {
    top: 58%;
    left: 53%;
}

#maplocations #sng {
    top: 33%;
    left: 70%;
}

#worldmap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#back {
    background: #242424;
    text-decoration: none;
    color: #EEE;
    padding: 0 3%;
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 1.5vh;
}

#testmap {
    width: 200px;
    height: 200px;
    position: fixed;
    background: red;
    display: none;
}


/* SVG styles */

.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #07939F;
}

.st2 {
    fill: none;
    stroke: #07939F;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #99C546;
}

.st4 {
    fill: #0994A0;
}
.mobile{
    display: none;
}