@font-face {
    font-family: 'FontAwesome';
    src: url('font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-twitter:before {
    content: "\f099"
}

.fa-linkedin:before {
    content: "\f0e1"
}

.fa-youtube-play:before {
    content: "\f16a"
}

.contactUsData>div {
    opacity: 0;
    visibility: hidden;
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 46px;
    bottom: 0;
    transition: all 1.3s ease 0s
}

.contactUsData>div.active {
    opacity: 1;
    visibility: visible
}

.location-data-wrapper {
    padding: 0 10px 15px;
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -65%);
    left: 50%;
    top: 50%;
    background: rgba(255, 255, 255, .6);
    border-radius: 5px;
    width: 100%
}

.location-data-wrapper h2 {
    margin: 20px 0;
    font-size: 25px;
    text-align: center
}

.location-info-container {
    float: left;
    width: 100%;
    position: relative
}

.location-left-box {
    float: left;
    position: relative;
    width: 75%
}

.loc-img {
    float: left;
    width: 150px;
    margin-right: 10px;
}

.loc-data {
    font-size: 13px;
    float: left
}

.loc-data a {
    color: #007f8e;
    text-decoration: none;
    padding-left: 20px;
    display: block
}

.loc-data ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.loc-data ul li {
    margin-bottom: 15px
}

.loc-data ul li:last-child {
    margin-bottom: 0
}

.location-right-box {
    float: left;
    width: 25%;
    position: relative
}

.follow-box {
    font-size: 13px;
    margin-top: 110px
}

.follow-links {
    margin: 5px 0 0;
    padding: 0;
    list-style: none;
    display: block
}

div#nyc {
    background: no-repeat url('../img/usa-map.svg') top center / contain
}

div#hyd {
    background: no-repeat url('../img/india-map.svg') top center / contain
}

div#mu {
    background: no-repeat url('../img/mauritius-map.svg') top center / contain
}

div#singapore {
    background: no-repeat url('../img/singapore.svg') top center / contain
}

.glocation a {
    background: no-repeat url(../img/map-pin.svg) top left;
    background-size: 15px 15px
}

.mail a {
    background: no-repeat url(../img/mail.svg) top left;
    line-height: 13px
}

.phone a {
    background: no-repeat url(../img/Call.svg) top left
}

.follow-links li a {
    display: block;
    background: #fff;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    padding-top: 2px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
    color: #007f8e
}

.loc-img img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    box-shadow: -1px 2px 8px 0 rgba(0, 0, 0, .3)
}

.follow-box p {
    padding: 0;
    margin: 0
}

.follow-links li {
    display: inline-block;
    margin-right: 5px
}

.show-767 {
    display: none!important
}

.hide-767 {
    display: block!important
}

@media all and (max-width:767px) {
    .show-767 {
        display: block!important
    }
    .hide-767 {
        display: none!important
    }
    .location-data-wrapper h2 {
        margin-bottom: 20px
    }
    .location-left-box {
        width: 100%;
        margin-bottom: 15px
    }
    .loc-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px
    }
    .loc-data {
        width: 100%;
        font-size: 12px
    }
    .loc-data a {
        padding-left: 22px
    }
    .loc-data ul li {
        margin-bottom: 10px
    }
    .location-right-box {
        width: 100%
    }
    .follow-box {
        margin-top: 0;
        font-size: 12px
    }
    .contactUsData>div {
        background: none!important
    }
    .follow-links li a {
        height: 25px;
        width: 25px;
        padding-top: 6px
    }
}

.elevator {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
    z-index: 100
}

.elevator,
.elevator:before,
.elevator:after,
.elevator *:before,
.elevator *:after {
    box-sizing: border-box
}

.metal {
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 0 300px 10px #000 inset;
    -webkit-transition: color .2s;
    transition: color .2s;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%), -webkit-linear-gradient(top, hsl(0, 0%, 78%) 0, hsl(0, 0%, 90%) 47%, hsl(0, 0%, 78%) 53%, hsl(0, 0%, 70%)100%);
    background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%), linear-gradient(180deg, hsl(0, 0%, 78%) 0, hsl(0, 0%, 90%) 47%, hsl(0, 0%, 78%) 53%, hsl(0, 0%, 70%)100%)
}

.metal-upper {
    background: #3d3d3d;
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%);
    background-image: -webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%);
    background-image: -moz-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%);
    background-image: -ms-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%);
    background-image: -o-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%);
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    -o-background-size: 5px 5px;
    background-size: 5px 5px
}

.rightwall {
    right: 0;
    transform: perspective(35vw) rotateY(-55deg) translateZ(-10vw);
    -ms-transform: perspective(35vw) rotateY(-55deg) translateZ(-10vw);
    -o-transform: perspective(35vw) rotateY(-55deg) translateZ(-10vw);
    -moz-transform: perspective(35vw) rotateY(-55deg) translateZ(-10vw);
    -webkit-transform: perspective(35vw) rotateY(-55deg) translateZ(-10vw)
}

.rightwall,
.leftwall {
    height: 100vh;
    position: absolute;
    width: 55vw
}

.leftwall {
    left: 0;
    transform: perspective(35vw) rotateY(55deg) translateZ(-10vw);
    -ms-transform: perspective(35vw) rotateY(55deg) translateZ(-10vw);
    -o-transform: perspective(35vw) rotateY(55deg) translateZ(-10vw);
    -moz-transform: perspective(35vw) rotateY(55deg) translateZ(-10vw);
    -webkit-transform: perspective(35vw) rotateY(55deg) translateZ(-10vw)
}

.topwall {
    position: absolute;
    width: 100vw;
    z-index: -10
}

.bottomwall {
    background-color: #6d695c;
    background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
    background-size: 70px 120px;
    box-shadow: 40px 20px 85px -1px #000 inset;
    position: absolute;
    width: 100vw;
    z-index: -1;
    bottom: 0
}

.topwall,
.bottomwall {
    height: 24.05vh
}

.centerwall {
    height: 56vh;
    margin-left: 50%;
    position: absolute;
    top: 22vh;
    transform: translate(-50%, 0px);
    width: 37vw;
    z-index: 10
}

.panel-container {
    float: left;
    width: 100%
}

.topwall .lightbox {
    float: left;
    height: 100%;
    position: relative;
    width: 50%
}

.light-item {
    background-color: #fafad6;
    border-radius: 50%;
    transform: rotateX(55deg);
    position: absolute
}

.lightbox-inner .light-item:first-child {
    box-shadow: 1px 1px 50px 50px #fafad6;
    height: 30px;
    top: 20px;
    width: 30px
}

.lightbox-inner .light-item:last-child {
    box-shadow: 1px 1px 30px 30px #fafad6;
    height: 15px;
    top: 120px;
    width: 15px
}

.left .light-item:first-child {
    right: 30%
}

.left .light-item:last-child {
    right: 20%
}

.right .light-item:first-child {
    left: 30%
}

.right .light-item:last-child {
    left: 20%
}

.centerwall-inner .button-panel {
    float: left;
    height: 100%;
    width: 150px
}

.centerwall-inner {
    float: left;
    height: 100%;
    position: relative;
    width: 100%
}

.centerwall .door-panel {
    float: left;
    height: 100%;
    width: calc(100% - 150px);
    position: relative;
    overflow: hidden
}

.panel-box {
    box-shadow: 1px 2px 14px -7px #000 inset;
    margin-left: 5px;
    margin-top: 60px;
    max-width: 107px;
    padding: 10px;
    float: left
}

.techomsg {
    font-size: 16px;
    line-height: 16px
}

.techo-box .msg {
    position: relative;
    top: auto;
    visibility: visible
}

.panel-screen:before,
.techo-box:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(255, 255, 255, .01)), to(rgba(0, 0, 0, .2))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, .1)), color-stop(0.501, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, .7)));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
    background: linear-gradient(top, rgba(0, 0, 0, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0))
}

.panel-screen {
    color: #e0e1e2;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
    position: relative;
    text-align: center
}

.floors-list .button {
    border: 1px dotted #e0e1e2;
    box-sizing: border-box;
    color: #e0e1e2;
    display: inline-block;
    float: left;
    font-size: 19px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 33.333%
}

.floors-list .button:last-child {
    width: 100%
}

.door-panel {
    transition: all .5s ease 0s
}

.floors-list {
    float: left;
    width: 100%;
    position: relative
}

.door-inner.left:before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    box-shadow: 3px 0 5px 0 #000;
    content: "";
    height: 100%;
    left: 100%;
    position: absolute;
    width: 5px;
    z-index: 1
}

.door-inner {
    box-shadow: 1px 1px 76px 5px #000 inset;
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
    overflow: hidden
}

.techo-box {
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    padding: 3px;
    position: relative
}

.blinker-arrow {
    position: absolute;
    right: 15px;
    line-height: 0;
    animation-name: blinking;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    opacity: 1;
    top: 106%
}

@keyframes blinking {
    0% {
        opacity: 1;
        top: 105%
    }
    100% {
        opacity: 0;
        top: -6px
    }
}

@keyframes Lblinking {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.curr-flr {
    position: relative;
    overflow: hidden
}

.hide-1050 {
    display: block
}

.show-1050 {
    display: none
}

@media all and (max-width:1050px) {
    .centerwall-inner .button-panel {
        width: 100px
    }
    .hide-1050 {
        display: none
    }
    .show-1050 {
        display: block
    }
    .panel-box {
        margin-top: 60px;
        max-width: 60px;
        margin-left: 5px;
        min-width: 90px
    }
    .metal {
        box-shadow: 0 0 100px 10px #000 inset
    }
    .centerwall .door-panel {
        width: calc(100% - 100px)
    }
    .rightwall {
        right: 0;
        transform: perspective(35vw) rotateY(-75deg) translateZ(-20vw);
        -ms-transform: perspective(35vw) rotateY(-75deg) translateZ(-20vw);
        -o-transform: perspective(35vw) rotateY(-75deg) translateZ(-20vw);
        -moz-transform: perspective(35vw) rotateY(-75deg) translateZ(-20vw);
        -webkit-transform: perspective(35vw) rotateY(-75deg) translateZ(-20vw)
    }
    .leftwall {
        left: 0;
        transform: perspective(35vw) rotateY(75deg) translateZ(-20vw);
        -ms-transform: perspective(35vw) rotateY(75deg) translateZ(-20vw);
        -o-transform: perspective(35vw) rotateY(75deg) translateZ(-20vw);
        -moz-transform: perspective(35vw) rotateY(75deg) translateZ(-20vw);
        -webkit-transform: perspective(35vw) rotateY(75deg) translateZ(-20vw)
    }
    .centerwall {
        height: 52vh;
        top: 24vh;
        width: 58vw
    }
}

#leftDoor,
#rightDoor {
    transition: all 1s ease 1s
}

#loaderElevator {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#loaderElevator.activeDisablred {
    animation-name: openElevator;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

#leftDoor {
    left: 0
}

#rightDoor {
    right: 0
}

#leftDoor.active {
    left: -50%
}

#rightDoor.active {
    right: -50%
}

.logo-svg {
    background-image: url(../img/svglogo.svg);
    height: 20px;
    background-repeat: no-repeat;
    margin: 15px 0
}

.logo-svg-mob {
    background-image: url(../img/logo%20icon-01.svg);
    background-repeat: no-repeat;
    height: 40px;
    background-position: center center
}

.mob-text {
    margin-bottom: 15px;
    position: relative;
    margin-top: -8px;
    text-align: center
}

@keyframes openElevator {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(5)
    }
}

@media all and (max-width:550px) {
    .floors-list .button {
        font-size: 13px;
        padding: 2px 0;
        width: 50%!important
    }
    .panel-box {
        padding: 5px;
        max-width: 60px;
        margin-left: 3px;
        min-width: 80px
    }
    .centerwall-inner .button-panel {
        width: 88px
    }
    .centerwall .door-panel {
        width: calc(100% - 88px)
    }
    .panel-screen {
        font-size: 10px;
        line-height: 20px
    }
}

@media all and (max-width:440px) {
    .centerwall-inner .button-panel {
        width: 58px
    }
    .panel-box {
        padding: 3px;
        max-width: 50px;
        margin-left: 3px;
        min-width: 20px
    }
    .centerwall .door-panel {
        width: calc(100% - 58px)
    }
    .techo-box {
        font-size: 7px
    }
    .mob-text {
        font-size: 5px
    }
}

@media all and (max-height:600px) {
    .centerwall {
        height: 76vh;
        top: 12vh;
        width: 65vw
    }
    .leftwall {
        left: 0;
        transform: perspective(100vw) rotateY(75deg) translateZ(-20vw);
        -ms-transform: perspective(100vw) rotateY(75deg) translateZ(-20vw);
        -o-transform: perspective(100vw) rotateY(75deg) translateZ(-20vw);
        -moz-transform: perspective(100vw) rotateY(75deg) translateZ(-20vw);
        -webkit-transform: perspective(100vw) rotateY(75deg) translateZ(-20vw)
    }
    .rightwall {
        right: 0;
        transform: perspective(100vw) rotateY(-75deg) translateZ(-20vw);
        -ms-transform: perspective(100vw) rotateY(-75deg) translateZ(-20vw);
        -o-transform: perspective(100vw) rotateY(-75deg) translateZ(-20vw);
        -moz-transform: perspective(100vw) rotateY(-75deg) translateZ(-20vw);
        -webkit-transform: perspective(100vw) rotateY(-75deg) translateZ(-20vw)
    }
    .panel-box {
        margin-top: 20px
    }
    .topwall,
    .bottomwall {
        height: 13vh
    }
    .blinker-arrow {
        right: 6px
    }
    .techo-box {
        font-size: 8px;
        word-break: break-word
    }
    .logo-svg {
        height: 8px;
        margin: 5px 0
    }
}

@media all and (min-height:1000px) {
    .rightwall {
        right: 0;
        transform: perspective(17vw) rotateY(-75deg) translateZ(-20vw);
        -ms-transform: perspective(17vw) rotateY(-75deg) translateZ(-20vw);
        -o-transform: perspective(17vw) rotateY(-75deg) translateZ(-20vw);
        -moz-transform: perspective(17vw) rotateY(-75deg) translateZ(-20vw);
        -webkit-transform: perspective(17vw) rotateY(-75deg) translateZ(-20vw)
    }
    .leftwall {
        right: 0;
        transform: perspective(17vw) rotateY(75deg) translateZ(-20vw);
        -ms-transform: perspective(17vw) rotateY(75deg) translateZ(-20vw);
        -o-transform: perspective(17vw) rotateY(75deg) translateZ(-20vw);
        -moz-transform: perspective(17vw) rotateY(75deg) translateZ(-20vw);
        -webkit-transform: perspective(17vw) rotateY(75deg) translateZ(-20vw)
    }
    .centerwall {
        height: 36vh;
        top: 32vh;
        width: 54vw
    }
    .topwall,
    .bottomwall {
        height: 32.05vh
    }
}

@font-face {
    font-family: "Flaticon";
    src: url("font/Flaticon.eot");
    src: url("font/Flaticon.eot?#iefix") format("embedded-opentype"), url("font/Flaticon.woff") format("woff"), url("font/Flaticon.ttf") format("truetype"), url("font/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal
}

.flaticon-cogwheel:before {
    content: "\f100"
}

.flaticon-facebook-placeholder-for-locate-places-on-maps:before {
    content: "\f101"
}

.flaticon-multiple-users-silhouette:before {
    content: "\f102"
}

.v-h-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -60%)
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: 'Varela Round', sans-serif, Helvetica
}

*,
*:before,
*:after {
    box-sizing: border-box
}

#office {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh
}

#office>img {
    position: absolute;
    top: 0;
    left: 0
}

.abs-bg-img {
    width: 100vw;
    height: 100vh;
    position: absolute
}

#city {
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    opacity: 1;
    object-fit: scale-down;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0)
}


/*#hall {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    perspective: 200px
}*/

#officeroom,
#chair {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

#officeroom {
    z-index: 300
}

#chair {
    z-index: 5000;
    pointer-events: none
}

#brandingWrapper {
    position: absolute;
    z-index: 650;
    top: 5px;
    left: .3vw;
    height: 40px;
    width: 33.3vw
}

#blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .7);
    filter: blur(1px)
}

#brandingWrapper>* {
    display: inline-block;
    float: left
}

#logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1
}

#brandingWrapper>#logo img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 8.3vw
}

#brandingWrapper #companymsg p {
    margin: 0;
    display: inline-block
}

#companymsg {
    color: #001e20;
    letter-spacing: -0.3px;
    position: absolute;
    z-index: 1;
    font-family: Serif;
    font-weight: normal;
    left: 9.9vw;
    font-size: 12px;
    top: 50%;
    height: 16px;
    width: 23vw;
    transform: translateY(-50%)
}

#logo:after {
    content: ':';
    position: absolute;
    top: 0;
    /*left: 8.6vw;*/
    font-size: 35px;
    right: -15px;
}

.msg {
    position: absolute;
    top: 3px;
    visibility: hidden
}

.msg .l {
    visibility: hidden
}

.text-caret {
    font-size: 16px;
    display: block;
    top: 1.5px;
    position: absolute;
    left: 0;
    z-index: 9999;
    display: none
}

.colon {
    margin-right: 5px;
    margin-left: 5px;
    text-align: center
}

#intro {
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 150px;
    margin: 300px auto 0;
    position: relative;
    z-index: 400;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    padding: 10px;
    opacity: 0
}

#screen {
    width: 800px;
    height: 0;
    z-index: 4000;
    position: absolute;
    top: 20%;
    left: 10%
}

.branchoffice {
    display: none
}

#presentation-logo {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(.2)
}

#presentation-logo>svg {
    width: 110px;
    height: 110px
}

div#projector {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 600;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    opacity: 0
}

#projector>#frost {
    z-index: 1;
    display: block;
    position: absolute;
    content: ' ';
    background-image: url('../img/nybg.jpg');
    filter: blur(7px);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 1
}

#city,
#officeroom,
#chair {
    transition: filter .5s ease-in 0s;
    transition: -web-filter .5s ease-in 0s;
    transition: -moz-filter .5s ease-in 0s;
    transition: -ms-filter .5s ease-in 0s
}

.trapezoid {
    background-image: url(../img/table.png);
    background-size: 100%;
    height: 48.3px;
    left: 43.3vw;
    position: absolute;
    width: 13.34vw;
    z-index: 9930;
    opacity: 0
}

#presentationMenu {
    display: table;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%
}

#presentationMenu li {
    color: #fff;
    display: table-cell;
    font-size: 30px;
    padding: 0;
    width: 33.333%
}

#presentationMenu li i {
    transition: color .5s ease-in
}

#presentationMenu li a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    line-height: 46px
}

#presentationMenu li a:hover,
#presentationMenu li a.active {
    color: #99c546
}

#presentationMenu li a img {
    width: 75px;
    padding-top: 5px;
    display: block;
    margin: auto;
    /*width: 2vw; padding-top: 1vh;*/
}

#presentationMenu li a span {
    display: block;
    height: 11px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    -webkit-backface-visibility: hidden
}

#presentationMenu li a:hover,
#presentationMenu li a:focus {
    outline: 0
}

#presentationMenu li a:hover i,
#presentationMenu li a.active i {
    color: #68fae9
}

#projector .data-container>div {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -10%;
    color: transparent;
    height: 20px;
    left: 50%;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: opacity 1s ease;
    visibility: hidden;
    width: 20px;
    z-index: -1;
    opacity: 0
}

#projector .data-container>.active {
    border-radius: 0;
    bottom: 0;
    color: #000;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    padding: 10px;
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    width: 100%;
    z-index: 1
}

.PeopleData {
    transform-origin: 50% 50%;
    transform: scale(0.9)
}

body {
    overflow: hidden
}

#mapmenu {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .3)
}

#maplocations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#maplocations a {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #99c546;
    border-radius: 10px;
    background: #fafad6;
    position: absolute;
    cursor: pointer;
    transition: all .1s ease-in
}

@media only screen and (min-width:500px) {
    #maplocations a:hover {
        border: 1px solid #fafad6;
        background: #07939f;
        transform: scale(1.2)
    }
}

#maplocations a.active {
    border: 1px solid #fafad6;
    background: #07939f;
    transform: scale(1.2)
}

#maplocations #india {
    top: 31%;
    left: 63%
}

#maplocations #ny {
    top: 20%;
    left: 20%
}

#maplocations #africa {
    top: 58%;
    left: 53%
}

#maplocations #sng {
    top: 33%;
    left: 70%
}

#worldmap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

#back {
    background: #242424;
    text-decoration: none;
    color: #EEE;
    padding: 0 3%;
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 1.5vh
}

body #maplocations>a>span {
    text-decoration: none;
    text-decoration: none;
    color: #fff;
    font-size: 8px;
    width: 50px;
    height: 10px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    border-radius: 2px;
    top: -5px;
    left: -20px;
    transform: rotateX(-90deg) translateY(-10px);
    transform-style: preserve-3d;
    border: 1px solid rgba(255, 255, 255, 0.21);
    background-color: rgba(3, 52, 57, 0.78);
    display: none;
    transition: all .2s ease
}

body #maplocations>a:hover>span {
    display: block
}

.st0 {
    fill: #fff
}

.st1 {
    fill: #07939f
}

.st2 {
    fill: none;
    stroke: #07939f;
    stroke-miterlimit: 10
}

.st3 {
    fill: #99c546
}

.st4 {
    fill: #0994a0
}

.mobile {
    display: none
}

.short-message img {
    width: 35px
}

.box_people {
    width: 135px;
    min-height: 68px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #fff;
    padding-left: 3px;
    padding-top: 5px;
    padding-right: 10px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    padding-bottom: 14px;
    vertical-align: middle
}

.box_people.top {
    position: absolute;
    left: 50%;
    margin-left: -105px;
    top: 95px
}

.box_people.left {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -25px
}

.box_people.right {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -25px
}

.box_people.bottom {
    position: absolute;
    left: 50%;
    margin-left: -105px;
    bottom: 95px;
}

.middle_logo {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -20px
}

.tiles a {
    color: #fff;
    text-decoration: none;
}

.middle_logo img {
    width: 80px
}

.name {
    font-size: .8vw;
    margin: 0;
    color: #2d2d2d;
    margin-bottom: 0
}

.designation {
    margin: 0;
    color: #00808f;
    font-size: .5vw;
    margin-bottom: 2px
}

.supercool {
    font-size: .47vw;
    margin: 7px 0;
    color: #99c546
}

.people_picture {
    width: 100px;
    position: absolute;
    z-index: 1
}

.box_people.right .people_picture,
.box_people.left .people_picture {
    top: -95px;
    left: 90px;
}

.box_people.top .people_picture,
.box_people.bottom .people_picture {
    left: -95px;
    top: 4px;
}

.social_block {
    background: #00808f;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    text-align: center
}

.social_block {
    color: #fff;
    font-size: .6vw;
    padding-top: 2px;
    padding-bottom: 2px
}

.social_block i {
    width: 16px;
    cursor: pointer
}

.people_picture {
    display: block;
    margin: 0 auto;
    height: auto;
    border-radius: 50%;
    border: 1px solid #00808f;
    box-shadow: 0 0 0 1px #99c546
}

body {
    font-family: sans-serif;
    background: #8493a9;
}

.tiles,
.techo-tile {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #07939f;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 5px;
    cursor: pointer;
    left: 12px;
    position: relative;
    z-index: 1
}

.social_block a {
    color: white
}

div#agilePassBigDataContent a {
    color: #07939f
}

.tiles:hover {
    box-shadow: -1px 3px 3px #008b8b
}

.techo-tile {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #07939f;
    left: 70px;
    top: -8px;
    position: relative
}

.svg-icon {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    margin: 0 auto
}

.svg-icon-lable {
    text-align: center;
    display: block
}

.iot {
    position: relative;
    left: 119px;
    top: -90px
}

.iot .svg-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 1px;
}

.cloud {
    position: relative;
    left: 65px;
    top: -40px
}

.cloud .svg-icon {
    margin-top: -3px
}

.tiles-container {
    width: 50%;
    margin: 0 auto;
    width: auto;
    position: relative
}

.div {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    width: 222px;
    margin-top: 30px
}

#a:hover~#b {
    background: #ccc
}

.clear {
    clear: both
}

.services-container {
    margin: 0 auto;
    margin-top: -50px;
    width: 70%;
    position: relative;
    z-index: 2
}

.rect {
    width: 90%;
    float: left;
    background-color: #99c546;
    height: 30px;
    border-radius: 3px 0 0 3px;
    margin-left: 6px
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #99c546;
    float: left
}

.service {
    background-color: #fff;
    height: 20px;
    width: 27%;
    margin: 5px 8px;
    border-radius: 2px;
    float: left;
    cursor: pointer
}

.service:last-child {
    margin-right: 5px
}

.service-logo {
    height: 20px;
    width: 20px;
    float: left
}

.service-content {
    float: left;
    text-align: center;
    color: #07939f
}

.service-content-h {
    font-size: 7px;
    line-height: 12px
}

.service-content-d {
    font-size: 5px
}

.short-message {
    margin: 0 auto;
    text-align: center;
    padding: 15px 5px 0;
    font-size: 9px
}

.high-light {
    color: #07939f
}

.high-light a {
    text-decoration: none
}

.connector {
    width: 45px;
    height: 46px;
    position: absolute;
    left: 68px;
    bottom: 76px;
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(0deg)
}

.connector_left {
    width: 45px;
    height: 46px;
    position: absolute;
    left: 43px;
    top: 24px;
    margin-top: -2px;
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(4deg)
}

.connector_right {
    width: 45px;
    height: 46px;
    position: absolute;
    right: 48px;
    top: 8px;
    margin-top: 15px;
    margin-right: -2px;
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(-3deg)
}

.pivotal {
    width: 35px;
    fill: #07939f
}

#agilePassBigDataContainer {
    display: none;
    height: 400px;
}

#agilePassBigDataContainer #agilePassBigDataContent {
    position: relative;
    border-bottom: 1px solid #07939f;
    padding-bottom: 10px;
    font-size: 16px;
    padding: 70px 10px;
    background: rgba(255, 255, 255, .6);
    border-radius: 6px;
    line-height: 23px;
}

#m-close-btn {
    position: absolute;
    bottom: -21px;
    font-size: 13px;
    background-color: #07939f;
    border: 0;
    left: 46%;
    border-radius: 0 0 5px 5px;
    color: #fff;
}

@media only screen and (min-width:320px) and (max-width:480px) {
    #officeroom {
        display: none
    }
    body {
        position: fixed
    }
    #brandingWrapper {
        position: fixed;
        z-index: 650;
        left: 0;
        height: auto;
        width: 100%;
        top: 0;
        margin-top: 0;
        padding-top: 25px;
    }
    #screen {
        width: 100%;
        height: 0;
        z-index: 4000;
        position: absolute;
        top: 0;
        left: 0
    }
    body #logo {
        position: relative;
        left: auto;
        top: auto;
        transform: none;
        z-index: 1;
        text-align: center;
        margin: 0 auto;
        display: block;
        float: none;
        margin-top: 10px;
    }
    body.safari #brandingWrapper>#logo img {
        top: 15px
    }
    #brandingWrapper>#logo img {
        display: block;
        height: auto;
        margin: 0 auto;
        width: 150px;
        top: auto;
        position: relative;
    }
    #logo {
        position: absolute;
        left: 10px;
        top: 6vw;
        transform: translateY(-50%);
        z-index: 1
    }
    #logo:after {
        content: ' ';
    }
    #chair {
        z-index: 5000;
        pointer-events: none;
        -moz-transform: scale(1.1);
        bottom: 0;
        top: auto;
        width: 100%
    }
    .trapezoid {
        background-image: url(../img/table.png);
        height: 12vw;
        left: 21vw;
        position: absolute;
        width: 56vw;
        z-index: 9930;
        opacity: 1;
        transform-origin: 47% 0 0;
        transform: matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -1, 2, 4, 0, -1, 0, 1);
        bottom: 11%;
        right: 0
    }
    div#projector {
        opacity: 1
    }
    #presentationMenu li a img {
        width: 28px;
        padding-top: 6px;
        display: block;
        margin: auto
    }
    .v-h-center {
        position: absolute;
        top: 23px;
        left: 0;
        width: 100%;
        transform: translate(0%, 0%)
    }
    .services-container {
        margin: 0 auto;
        width: 100%
    }
    .middle_logo {
        display: none
    }
    .social_block {
        color: #fff;
        font-size: 11px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: static;
    }
    .supercool {
        font-size: 12px;
        margin: 0;
        color: #99c546
    }
    .designation {
        margin: 0;
        color: #00808f;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 2px
    }
    .name {
        font-size: 20px;
        margin: 0;
        color: #2d2d2d;
        margin-bottom: 0
    }
    .box_people {
        width: 100%;
        height: auto;
        float: left;
        position: relative;
        padding: 0;
        margin-top: 30px
    }
    .box_people.top {
        position: static;
        left: 0;
        margin-left: 0;
        top: 50px;
        margin-top: 80px
    }
    .box_people.left {
        position: static;
        left: 10px;
        top: 0;
        margin-top: 80px
    }
    .box_people.right {
        position: static;
        right: 12px;
        top: 0;
        margin-top: 80px
    }
    .box_people.bottom {
        position: static;
        left: 0;
        margin-left: 0;
        margin-top: 80px;
        bottom: 50px;
        margin-bottom: 40px;
    }
    .people_picture {
        left: -31px;
        top: 4px;
        position: static;
        margin-top: -30px
    }
    #projector .data-container>.active {
        overflow: scroll;
        padding-bottom: 100px;
        -webkit-overflow-scrolling: touch
    }
    .people_container {
        padding: 15%;
        overflow: scroll;
        height: 90%;
        top: 10%;
        position: relative
    }
    .people_picture {
        width: 100px;
        height: 100px;
        margin-top: -50px
    }
    .supercool {
        font-size: 14px;
        text-align: center;
        padding: 0 10% 20px
    }
    .social_block i {
        width: 50px;
        cursor: pointer;
        font-size: 21px;
    }
    .desktop,
    .desktop-city {
        display: none
    }
    #presentationMenu li {
        opacity: 0
    }
    .mobile {
        display: block
    }
    .div {
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        width: 222px;
        margin-top: 120px;
        transform: scale(1.5);
    }
    #companymsg {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 14px;
        height: auto;
        transform: none;
        margin-top: 10px;
        letter-spacing: 0px;
    }
    #visionMsg {
        display: block;
        visibility: visible;
        position: static;
        text-align: center
    }
    #visionMsg span {
        border: 1px solid green
    }
    .services-container {
        margin: 0 auto;
        margin-top: -20px;
        width: 100%
    }
    .rect {
        width: 95%;
        float: none;
        margin: 0 auto;
        background-color: #99c546;
        height: auto;
        border-radius: 3px 0 0 3px
    }
    .service {
        background-color: #fff;
        height: auto;
        width: 28%;
        margin: 5px 6px;
        border-radius: 2px;
        float: left;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #07939f;
    }
    .service:hover {
        box-shadow: -1px 3px 3px #008b8b
    }
    .service-logo {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: auto
    }
    .service-logo svg {
        width: 50px
    }
    .service-content {
        float: none;
        text-align: center;
        color: #07939f;
        padding-bottom: 5px
    }
    .service-content-h {
        font-size: 14px;
        line-height: 20px
    }
    .service-content-d {
        font-size: 11px;
        line-height: 12px
    }
    .arrow-right {
        display: none
    }
    .short-message {
        font-size: 12px
    }
    .short-message img {
        width: 50px
    }
    #hall {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
        perspective: 200px
    }
    #agilePassBigDataContainer #agilePassBigDataContent {
        padding: 30px 10px;
        font-size: 10px;
        line-height: 12px;
    }
    #agilePassBigDataContainer {
        height: 190px;
    }
    #m-close-btn {
        bottom: -16px;
        font-size: 9px;
        left: 39%;
    }
    .mobile #m-vision-div .techo-tile {
        top: 15px;
    }
    .mobile .connector_right {
        margin: 0;
        transform: rotate(60deg);
        top: 27px;
        right: 43px;
    }
    .mobile .connector_left {
        margin: 0;
        transform: rotate(-60deg);
        top: 27px;
        left: 43px;
    }
    .mobile .connector {
        width: 40px;
        transform: rotate(0deg);
        left: 70px;
        bottom: 72px;
    }
}