@font-face {
    font-family: "Flaticon";
    src: url("font/Flaticon.eot");
    src: url("font/Flaticon.eot?#iefix") format("embedded-opentype"), url("font/Flaticon.woff") format("woff"), url("font/Flaticon.ttf") format("truetype"), url("font/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-cogwheel:before {
    content: "\f100";
}

.flaticon-facebook-placeholder-for-locate-places-on-maps:before {
    content: "\f101";
}

.flaticon-multiple-users-silhouette:before {
    content: "\f102";
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: 'Varela Round', sans-serif, Helvetica;
    transform-style: preserve-3d;
    perspective: 1200px;
    /*opacity: 0;*/
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

#office {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}

#office > img {
    position: absolute;
    top: 0;
    left: 0;
}

.abs-bg-img {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#city {
    height: 100%;
    z-index: 100;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#hall {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    perspective: 200px;
}

#officeroom,
#chair {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#officeroom {
    z-index: 300;
}

#chair {
    z-index: 5000;
}

#brandingWrapper {
    position: absolute;
    z-index: 650;
    top: 5px;
    left: .3vw;
    height: 40px;
    width: 33.3vw;
}

#blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .7);
    filter: blur(1px);
}

#brandingWrapper > * {
    display: inline-block;
    float: left;
}

#logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#brandingWrapper > #logo img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 8.3vw;
}

#brandingWrapper #companymsg p {
    margin: 0;
    display: inline-block;
}

#companymsg {
    color: #001e20;
    letter-spacing: -0.3px;
    position: absolute;
    z-index: 1;
    font-family: Serif;
    font-weight: normal;
    left: 9vw;
    font-size: 12px;
    top: 50%;
    height: 18px;
    width: 23vw;
    transform: translateY(-50%);
}

.msg {
    position: absolute;
    top: 3px;
    visibility: hidden;
}

.msg .l {
    visibility: hidden;
}

.text-caret {
    font-size: 16px;
    display: block;
    top: 1.5px;
    position: absolute;
    left: 0;
    z-index: 9999;
}

.colon {
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

#intro {
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 150px;
    margin: 300px auto 0;
    position: relative;
    z-index: 400;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
}

#screen {
    width: 800px;
    height: 0;
    z-index: 4000;
    position: absolute;
    top: 20%;
    left: 10%;
}

.branchoffice {
    display: none;
}

#presentation-logo {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(.2);
}

div#projector {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 600;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
}

#projector:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    background-image: url('../img/nybg.jpg');
    /* Prefix free isn't picking up this one */
    -webkit-filter: url('#blur');
    filter: url('#blur');
    -webkit-filter: blur(7px);
    filter: blur(7px);
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: .6;
    overflow: hidden;
}

#city,
#officeroom,
#chair {
    transition: filter 1s ease-in 0s;
    transition: -web-filter 1s ease-in 0s;
    transition: -moz-filter 1s ease-in 0s;
    transition: -ms-filter 1s ease-in 0s;
}

.trapezoid {
    //background-image: linear-gradient(90deg, rgba(100, 119, 100, 0.9) 0px, rgba(100, 119, 100, 0.9) 1%, rgba(0, 0, 0, 1) 100%);
    background-image: url(../img/table.png);
    background-size: 100%;
    height: 48.3px;
    left: 43.3vw;
    position: absolute;
    width: 13.34vw;
    z-index: 9930;
    opacity: 0;
}

#presentationMenu {
    display: table;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}

#presentationMenu li {
    //background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: table-cell;
    font-size: 30px;
    padding: 0;
    width: 33.333%;
}

#presentationMenu li i {
    transition: color .5s ease-in;
}

#presentationMenu li a {
    color: #fff;
    text-decoration: none;
    outline: none;
    line-height: 46px;
}

#presentationMenu li a img {
    width: 1.3vw;
    padding-top: 1vh;
    display: block;
    margin: auto;
}

#presentationMenu li a span {
    display: block;
    height: 11px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    -webkit-backface-visibility: hidden;
}

#presentationMenu li a:hover,
#presentationMenu li a:focus {
    outline: none;
}

#presentationMenu li a:hover i,
#presentationMenu li a.active i {
    color: rgb(104, 250, 233);
}

#projector .data-container > * {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -10%;
    color: transparent;
    height: 20px;
    left: 50%;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transform: scale(0.1);
    transition: all 1s ease 0s, color 1.2s ease 0.5s, font-size 1.6s ease 0.8s, overflow 0.5s ease 1.7s;
    visibility: hidden;
    width: 20px;
    z-index: -1;
}

#projector .data-container > *.active {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    border-radius: 0;
    bottom: 0;
    color: #000;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    padding: 10px;
    transform: scale(1);
    visibility: visible;
    width: 100%;
    z-index: 1;
}

body {
    overflow: hidden;
}


/* SVG styles */

.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #07939F;
}

.st2 {
    fill: none;
    stroke: #07939F;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #99C546;
}

.st4 {
    fill: #0994A0;
}