@media only screen and (min-width: 320px) and (max-width: 480px) {
    #officeroom {
        display: none;
    }
    body {
        position: fixed;
    }
    body.safari {
        position: fixed;
        top: 45px;
    }
    #brandingWrapper {
        position: fixed;
        z-index: 650;
        /* top: 2px; */
        left: 0;
        height: 13vw;
        width: 100%;
        margin-top: -5px;
    }
    #screen {
        width: 100%;
        height: 0;
        z-index: 4000;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    body #logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 1;
    }
    body.safari #brandingWrapper > #logo img {
        top: 15px;
    }
    #brandingWrapper > #logo img {
        display: block;
        height: auto;
        margin: 0 auto;
        width: 33.3vw;
        top: 4px;
        position: relative;
    }
    #logo {
        position: absolute;
        left: 10px;
        top: 6vw;
        transform: translateY(-50%);
        z-index: 1;
    }
    #logo:after {
        content: ' ';
    }
    #chair {
        z-index: 5000;
        pointer-events: none;
        -moz-transform: scale(1.1);
        /* -webkit-transform: scale(1.1); */
        /* transform: scale(4.1); */
        bottom: 0px;
        top: auto;
        width: 100%;
        /* margin: 0px auto; */
    }
    .trapezoid {
        background-image: url(../img/table.png);
        /* background-size: 100%; */
        height: 12vw;
        left: 21vw;
        position: absolute;
        width: 56vw;
        z-index: 9930;
        opacity: 1;
        transform-origin: 47% 0px 0px;
        transform: matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -1, 2, 4, 0, -1, 0, 1);
        bottom: 11%;
        right: 0;
    }
    div#projector {
        opacity: 1;
    }
    #presentationMenu li a img {
        width: 28px;
        padding-top: 6px;
        display: block;
        margin: auto;
    }
    .v-h-center {
        position: absolute;
        top: 23px;
        left: 0;
        width: 100%;
        transform: translate(0%, 0%);
    }
    .services-container {
        margin: 0 auto;
        /* margin-top: -50px; */
        width: 100%;
    }
    .middle_logo {
        display: none;
    }
    .social_block {
        /* font-size: 10px !Important; */
        color: #fff;
        font-size: 11px;
        padding-top: 10px;
        padding-bottom: 10px;
        /*margin-top: 4px;*/
        position: static;
    }
    .supercool {
        font-size: 12px;
        margin: 0px;
        color: #99c546;
    }
    .designation {
        /* font-size: 12px; */
        margin: 0px;
        color: #00808f;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 2px;
    }
    .name {
        font-size: 20px;
        margin: 0px;
        color: #2d2d2d;
        /* font-size: 0.6vw; */
        margin-bottom: 0px;
    }
    .box_people {
        width: 100%;
        height: auto;
        float: left;
        position: relative;
        padding: 0px;
        margin-top: 30px;
    }
    .box_people.top {
        position: static;
        left: 0;
        margin-left: 0px;
        top: 50px;
        margin-top: 80px;
        /* padding-left: 16px; */
    }
    .box_people.left {
        position: static;
        left: 10px;
        top: 0;
        margin-top: 80px;
    }
    .box_people.right {
        position: static;
        right: 12px;
        top: 0;
        margin-top: 80px;
    }
    .box_people.bottom {
        position: static;
        left: 0;
        margin-left: 0px;
        margin-top: 80px;
        bottom: 34px;
        margin-bottom: 40px;
    }
    .people_picture {
        left: -31px;
        top: 4px;
        position: static;
        margin-top: -30px;
    }
    #projector .data-container > .active {
        overflow: scroll;
        padding-bottom: 100px;
        -webkit-overflow-scrolling: touch;
    }
    /*mansur's css*/
    .people_container {
        padding: 15%;
        overflow: scroll;
        height: 90%;
        top: 10%;
        position: relative;
    }
    .people_picture {
        width: 100px;
        height: 100px;
        margin-top: -50px;
    }
    .supercool {
        font-size: 14px;
        text-align: center;
        padding: 0px 10% 20px;
    }
    .social_block i {
        width: 50px;
        cursor: pointer;
        font-size: 30px;
    }
    .desktop {
        display: none;
    }
    #presentationMenu li {
        opacity: 0;
    }
    .mobile {
        display: block;
    }
    .div {
        text-align: center;
        margin: 0px auto;
        /* border: 1px solid red; */
        padding: 20px;
        width: 222px;
        margin-top: 120px;
        transform: scale(1.5);
    }
    #companymsg{
        width: 99%;
        position: absolute;
        top:80px;
        left:0;
        text-align:center;
        font-size:14px;

    }
    #visionMsg{
        display:block;
        visibility:visible;
        position:static;
        text-align:center;
    }
    #visionMsg span{
        border: 1px solid green;
    }
    /* mansur added below styles*/

    .services-container {
        margin: 0 auto;
        margin-top: 9px;
        width: 100%;
    }

    .rect {
        width: 95%;
         float: none; 
        margin: 0 auto;
        background-color: #99C546;
        height: auto;
        border-radius: 3px 0 0 3px;
        /* margin-left: 6px; */
        /* border: 1px solid red; */
    }

    .service {
        background-color: white;
         height: auto; 
        width: 30%;
        margin: 5px 6px;
        border-radius: 2px;
        float: left;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #07939F;
    }

    .service:hover{
        box-shadow: -1px 3px 3px rgb(0,139,139);
    }

    .service-logo {
        /* height: 20px; */
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: auto;
    }

    .service-logo svg{
        width: 50px;
    }

    .service-content {
         float: none; 
        text-align: center;
        color: #07939F;
        padding-bottom: 5px;
        /* display: none; */
        /* font-size: 24px; */
    }

    .service-content-h {
        font-size: 14px;
        line-height: 20px;
    }

    .service-content-d {
        font-size: 11px;
        line-height: 12px;
    }

    .arrow-right{
        display: none;
    }

    .short-message{
        font-size: 12px;
    }

    .short-message img{
        width: 50px;
    }

body.safari {
     bottom:10px;
    }
}
